<!-- banner area starts here -->
    <section class="banner text-center" id="sec1">
        <div class="container">
            <div class="row">
                <div class="div-ban">
                    <h3 class="texto-ban">Los mejores productos</h3>
                </div>  
                <div class="div-ban">
                    <h1 class="texto-ban">autopartes ebenezer</h1>
                </div>  
                <div class="div-ban">
                    <p class="texto-ban">los expertos en autopartes</p>
                </div>  
                <%= image_tag "pin.png",:style => "",:class=>"" %>
                <br>

                <button class="know-more">KNOW MORE</button>
            </div>
        </div>
    </section>
    <!-- end of banner section -->
    <!-- about section -->
    <section class="about text-center" id="sec2">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 about-heading">
                    <h2>
						Acerca 
					</h2>
                    <%= image_tag "daag.png",:style => "",:class=>"" %>

                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, <span>quis nostrud exercitation ullamco</span> laboris nisi ut aliquip ex ea commodo consequat duis aute irure dolor.</p>
                </div>

                <div class="col-md-3 single-about col-xs-6 col-sm-4">
                    <div class="about-inside">
                        <i class="fa fa-lightbulb-o"></i>
                        <h3><header></header></h3>
                        <p>onsectetur adipisicaing elit, sedo eiusmod tempor incidi et dolorerserss eerhfre mag.</p>
                    </div>
                </div>

                <div class="col-md-3 single-about col-xs-6 col-sm-4">
                    <div class="about-inside">
                        <i class="fa fa-pencil"></i>
                        <h3>Title goes here</h3>
                        <p>onsectetur adipisicaing elit, sedo eiusmod tempor incidi et dolorerserss eerhfre mag.</p>
                    </div>
                </div>

                <div class="col-md-3 single-about col-xs-6 col-sm-4">
                    <div class="about-inside">
                        <i class="fa fa-cog"></i>
                        <h3>Title goes here</h3>
                        <p>onsectetur adipisicaing elit, sedo eiusmod tempor incidi et dolorerserss eerhfre mag.</p>
                    </div>
                </div>

                <div class="col-md-3 single-about col-xs-6 col-sm-4">
                    <div class="about-inside">
                        <i class="fa fa-laptop"></i>
                        <h3>Title goes here</h3>
                        <p>onsectetur adipisicaing elit, sedo eiusmod tempor incidi et dolorerserss eerhfre mag.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end of about section -->

    <!-- service section -->

    <section class="service text-left" id="sec3">
        <div class="container">
            <div class="row">
                <div class="service-overlay"></div>
                <div class="col-md-12">
                    <h2>Servicios</h2>
                    <%= image_tag "daag.png",:style => "",:class=>"" %>

                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                        <br>
                        <br> tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
                <div class="col-md-12 services">
                    <div class="col-md-2 single-service col-xs-6 col-sm-3">
                        <i class="fa fa-tachometer"></i>
                        <h3>Title goes here</h3>
                        <p>Onsectetur adipisicing elit, sedo eiusmod tempor incidiet dolorerserss eerhfre mag.</p>
                    </div>

                    <div class="col-md-2 col-md-push-1 single-service col-xs-6 col-sm-3">
                        <i class="fa fa-search"></i>
                        <h3>Title goes here</h3>
                        <p>Onsectetur adipisicing elit, sedo eiusmod tempor incidiet dolorerserss eerhfre mag.</p>
                    </div>
                </div>

                <div class="col-md-12  services bottom-services">

                    <div class="col-md-2 single-service col-sm-3 col-xs-6">
                        <i class="fa fa-stack-overflow"></i>
                        <h3>Title goes here</h3>
                        <p>Onsectetur adipisicing elit, sedo eiusmod tempor incidiet dolorerserss eerhfre mag.</p>
                    </div>

                    <div class="col-md-2 col-md-push-1 single-service col-sm-3 col-xs-6">
                        <i class="fa fa-bar-chart"></i>
                        <h3>Title goes here</h3>
                        <p>Onsectetur adipisicing elit, sedo eiusmod tempor incidiet dolorerserss eerhfre mag.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- about section ends -->

    <!-- portfolio section -->

    <section class="portfolio text-center" id="sec4">
        <div class="row portfolio-row">
            <div class="portfolio-heading">
                <h2>PRODUCTOS</h2>
                <%= image_tag "daag.png",:style => "",:class=>"img-responsive",:style=>"display:initial;" %>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                    <br>
                    <br> ut labore et dolore magna aliqua.</p>
            </div>

            <div class="col-md-3 single-portfolio col-sm-6">
                <figure class="portfolio-item">
                    <%= image_tag "portfolio.jpg",:style => "",:class=>"img-responsive" %>
                    <figcaption class="portfolio-details">
                        <h4>Title goes here</h4>
                        <p>onsectetur adipisicing elit, sedo eiusmod tempor incidi et dolorerserss eerhfre mag.</p>
                    </figcaption>
                </figure>
                <a href="portfolio1.jpg"><i class="fa fa-search"></i></a>
            </div>

            <div class="col-md-3 single-portfolio col-sm-6">
                <figure class="portfolio-item">
                    <%= image_tag "portfolio2.jpg",:style => "",:class=>"img-responsive"  %>
                    <figcaption class="portfolio-details">
                        <h4>Title goes here</h4>
                        <p>onsectetur adipisicing elit, sedo eiusmod tempor incidi et dolorerserss eerhfre mag.</p>
                    </figcaption>
                </figure>
                <a href="imgages/portfolio2.jpg"><i class="fa fa-search"></i></a>
            </div>

            <div class="col-md-3 single-portfolio col-sm-6">
                <figure class="portfolio-item">
                    <%= image_tag "portfolio3.jpg",:style => "",:class=>"img-responsive" %>
                    <figcaption class="portfolio-details">
                        <h4>Title goes here</h4>
                        <p>onsectetur adipisicing elit, sedo eiusmod tempor incidi et dolorerserss eerhfre mag.</p>
                    </figcaption>
                </figure>
                <a href="img/portfolio3.jpg"><i class="fa fa-search"></i></a>
            </div>

            <div class="col-md-3 single-portfolio col-sm-6">
                <figure class="portfolio-item">
                    <%= image_tag "portfolio4.jpg",:style => "",:class=>"img-responsive" %>
                    <figcaption class="portfolio-details">
                        <h4>Title goes here</h4>
                        <p>onsectetur adipisicing elit, sedo eiusmod tempor incidi et dolorerserss eerhfre mag.</p>
                    </figcaption>
                </figure>
                <a href="img/portfolio4.jpg"><i class="fa fa-search"></i></a>
            </div>

            <div class="col-md-3 single-portfolio col-sm-6">
                <figure class="portfolio-item">
                    <%= image_tag "portfolio5.jpg",:style => "",:class=>"img-responsive" %>
                    <figcaption class="portfolio-details">
                        <h4>Title goes here</h4>
                        <p>onsectetur adipisicing elit, sedo eiusmod tempor incidi et dolorerserss eerhfre mag.</p>
                    </figcaption>
                </figure>
                <a href="img/portfolio5.jpg"><i class="fa fa-search"></i></a>
            </div>

            <div class="col-md-3 single-portfolio col-sm-6">
                <figure class="portfolio-item">
                    <%= image_tag "portfolio6.jpg",:style => "",:class=>"img-responsive" %>
                    <figcaption class="portfolio-details">
                        <h4>Title goes here</h4>
                        <p>onsectetur adipisicing elit, sedo eiusmod tempor incidi et dolorerserss eerhfre mag.</p>
                    </figcaption>
                </figure>
                <a href="img/portfolio6.jpg"><i class="fa fa-search"></i></a>
            </div>

            <div class="col-md-3 single-portfolio col-sm-6">
                <figure class="portfolio-item">
                    <%= image_tag "portfolio7.jpg",:style => "",:class=>"img-responsive" %>
                    <figcaption class="portfolio-details">
                        <h4>Title goes here</h4>
                        <p>onsectetur adipisicing elit, sedo eiusmod tempor incidi et dolorerserss eerhfre mag.</p>
                    </figcaption>
                </figure>
                <a href="img/portfolio7.jpg"><i class="fa fa-search"></i></a>
            </div>

            <div class="col-md-3 single-portfolio col-sm-6">
                <figure class="portfolio-item">
                    <%= image_tag "portfolio8.jpg",:style => "",:class=>"img-responsive" %>
                    <figcaption class="portfolio-details">
                        <h4>Title goes here</h4>
                        <p>onsectetur adipisicing elit, sedo eiusmod tempor incidi et dolorerserss eerhfre mag.</p>
                    </figcaption>
                </figure>
                <a href="images/portfolio8.jpg"><i class="fa fa-search"></i></a>
            </div>
        </div>
    </section>
    <!-- end of portfolio section -->

    <section class="contact text-center" id="sec5">
        <div class="container">
            <div class="row">
                <article class="contact-heading">
                    <h2>CONTACTO</h2>
                    <%= image_tag "daag.png",:style => "",:class=>"" %>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                        <br> ut labore et dolore magna aliqua.</p>
                </article>
            </div>
        </div>
    </section>
    <!-- end of contact section -->

    <section class="contact-form">
        <div class="container">
            <div class="row">
                <div class="form">
                    <form action="contact.php">
                        <div class="sbtn col-md-12 text-center">
                            <input class="name form-input" type="text" placeholder="NAME">
                            <input class="email form-input" type="email" placeholder="EMAIL">
                            <input class="message form-input" type="text" placeholder="MASSAGE">
                            <input class="submit-btn" type="submit">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <!-- footer starts here -->
    <footer class="footer text-center">
        <p>Copyright: &copy; <a href="http://mostafiz.me">mostafiz</a> | All rights reserved</p>
    </footer>
</body>

</html>
